* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  /* border: 1px gray solid;
  background-color: rgb(136, 107, 163);
  padding: 7px;
  cursor: pointer; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs-container div {
  margin-bottom: 10px;
  width: 100%;
}
