.resume {
  display: flex;
  flex-direction: column;
}

.resumeHeader {
  height: 75px;
  background-color: #323b4c;
  color: white;
  padding: 5px;
}

.body {
  display: flex;
  flex-grow: 1;
}
.leftBody {
  width: 65%;
  text-align: justify;
  text-justify: inter-word;
  padding: 5px;
  font-size: 0.7rem;
}
.rightBody {
  background-color: #f4f4f4;
  flex-grow: 1;
}

.contact {
  /* display: flex; */
  padding: 5px;
}
.contactData {
  font-size: 0.7rem;
  margin: 3px 0;
}

.residence {
  display: flex;
}

.contactData div {
  display: flex;
  margin: 3px 0;
}
.contactData p {
  margin-left: 4px;
}

/* .email {
  display: flex;
} */

.period {
  display: flex;
}
