.form-half {
  min-width: 50%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 10px;
}
.resume-half {
  width: 50%;
  /* border-left: 1px black solid; */
  background-color: rgb(240, 247, 255);
}
.builder-container {
  width: 100%;
  display: flex;
}
.form-half form {
  width: 60%;
}
