.tools {
  position: absolute;
  top: 5px;
  right: 5px;
}
.tools svg {
  /* width: 40px; */
  font-size: 20px;
  background-color: #e7ebef;
  border-radius: 15%;
  box-shadow: 2px 2px 5px #888888;
}

.tools a {
  margin: 5px;
}

.headersGray {
  color: #888888;
}
.dates {
  display: flex;
  margin-top: 1.5em;
}

.deleteIcon :hover {
  opacity: 2.2;
  background-color: #e7ebef !important;
  color: red;
  transform: scale(1.2);
  font-size: 22px;
}

.deleteIcon path {
  pointer-events: none;
}

.checkbox {
  display: flex;
}

.checkbox label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  padding: 25px;
}

.highlight :hover {
  background-color: #d6dbe2;
  cursor: pointer;
  border-radius: 8px;
}
