.tools {
  position: absolute;
  top: 5px;
  right: 5px;
}
.tools svg {
  /* width: 40px; */
  font-size: 20px;
  background-color: #e7ebef;
  border-radius: 15%;
  box-shadow: 2px 2px 5px #888888;
  z-index: 999;
}

.tools a {
  margin: 5px;
}

.headersGray {
  color: #888888;
}
.dates {
  display: flex;
  margin-top: 1.5em;
}

.deleteIcon :hover {
  opacity: 2.2;
  background-color: #c7d1d8;
  color: red;
  /* border: 1px solid #a7b1b8; */
  transform: scale(1.2);
}

.deleteIcon path {
  pointer-events: none;
}

.checkbox {
  display: flex;
}

.checkbox label {
  display: flex;
  justify-content: center;
  align-items: center;
}
